[Desktop Entry]
Type=Application
Version=1.0
Name=CMUS
GenericName=Music client
Comment=C Music Player
Icon=music
Exec=kitty -e cmus
Terminal=false
Categories=Media;Music
Keywords=music;media
