[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=feh --auto-zoom %f
Name=feh --auto-zoom
Comment=Custom definition for feh --auto-zoom
