[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jesuscbm/Desktop/BLAZQUEZ_MARTINEZ_JESUS_CIPRIANO___49425413T.p12]
row=0
col=3

[/home/jesuscbm/Desktop/discord_discord.desktop]
row=5
col=1

[/home/jesuscbm/Desktop/borrar]
row=5
col=3

[/home/jesuscbm/Desktop/code.desktop]
row=0
col=2

[/home/jesuscbm/Desktop/nombres.png]
row=6
col=2

[/home/jesuscbm/Desktop/Musica]
row=2
col=0

[/home/jesuscbm/Desktop/xfce4-terminal.desktop]
row=3
col=1

[/home/jesuscbm/Desktop/GIMP.desktop]
row=2
col=1

[/home/jesuscbm/Desktop/Books]
row=4
col=0

[/home/jesuscbm/Desktop/Rol]
row=3
col=0

[/home/jesuscbm/Desktop/IDA Freeware 8.3.desktop]
row=4
col=2

[/home/jesuscbm/Desktop/packages.sh]
row=3
col=2

[/home/jesuscbm/Desktop/uam]
row=6
col=11

[/home/jesuscbm/Desktop/dsay.c]
row=4
col=3

[/home/jesuscbm/Desktop/ball.c]
row=1
col=3

[/home/jesuscbm/Desktop/aa.class]
row=4
col=4

[/home/jesuscbm/Desktop/a.java]
row=1
col=4

[/home/jesuscbm/Desktop/Firefox.desktop]
row=1
col=2

[/home/jesuscbm/Desktop/Analisis]
row=5
col=0

[/home/jesuscbm/Desktop/newtondif.m]
row=0
col=1

[/home/jesuscbm/Desktop/delete_snap]
row=2
col=2

[/home/jesuscbm/Desktop/Federal_Income_Tax_Data_Update.xlsx]
row=0
col=10

[/home/jesuscbm/Desktop/Screenshot_2025-04-21_19-52-07.png]
row=3
col=4

[/home/jesuscbm/Desktop/org.gnome.Software.desktop]
row=1
col=1

[/home/jesuscbm/Desktop/xfce4-web-browser.desktop]
row=4
col=1

[/home/jesuscbm/Desktop/kitty.desktop]
row=6
col=0

[/home/jesuscbm/Desktop/mortality gov employees.pdf]
row=0
col=11

[/home/jesuscbm/Desktop/Eclipse IDE for Java Developers - 2024-12.desktop]
row=5
col=2

[/home/jesuscbm/Desktop/aa.java]
row=0
col=4

[/home/jesuscbm/Desktop/docs]
row=2
col=3

[/home/jesuscbm/Desktop/fb.asm]
row=2
col=4

[/home/jesuscbm/Desktop/spotify_spotify.desktop]
row=6
col=1

[/home/jesuscbm/Desktop/aa]
row=3
col=3

[/home/jesuscbm/Desktop/Programming]
row=5
col=11

[Trash]
row=0
col=0

[/home/jesuscbm]
row=1
col=0

