[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jesuscbm/Desktop/a]
row=0
col=3

[/home/jesuscbm/Desktop/org.gnome.Software.desktop]
row=1
col=1

[/home/jesuscbm/Desktop/alvaro del val.png]
row=4
col=2

[/home/jesuscbm/Desktop/thunderbird.desktop]
row=0
col=1

[/home/jesuscbm/Desktop/prueba.c]
row=6
col=1

[/home/jesuscbm/Desktop/clmystery]
row=6
col=0

[/home/jesuscbm/Desktop/marta.jpg]
row=6
col=2

[/home/jesuscbm/Desktop/4-list-moodle]
row=3
col=2

[/home/jesuscbm/Desktop/spotify_spotify.desktop]
row=1
col=2

[/home/jesuscbm/Desktop/Rol]
row=3
col=0

[/home/jesuscbm/Desktop/xfce4-web-browser.desktop]
row=5
col=1

[/home/jesuscbm/Desktop/IDA Freeware 8.3.desktop]
row=3
col=1

[/home/jesuscbm/Desktop/uam]
row=6
col=11

[/home/jesuscbm/Desktop/MP4 (Lowest Quality)]
row=4
col=0

[/home/jesuscbm/Desktop/famnum.pdf]
row=1
col=3

[/home/jesuscbm/Desktop/DNI]
row=5
col=0

[/home/jesuscbm/Desktop/xfce4-terminal.desktop]
row=4
col=1

[/home/jesuscbm/Desktop/Programming]
row=5
col=11

[/home/jesuscbm/Desktop/GIMP.desktop]
row=2
col=1

[/home/jesuscbm/Desktop/discord_discord.desktop]
row=0
col=2

[/home/jesuscbm/Desktop/Musica]
row=2
col=0

[/home/jesuscbm/Desktop/Books]
row=4
col=11

[/home/jesuscbm/Desktop/a.out]
row=5
col=2

[/home/jesuscbm/Desktop/code.desktop]
row=2
col=2

[Trash]
row=0
col=0

[/home/jesuscbm]
row=1
col=0

